
:root {
    --primary-blue: #2c22c8;
    --primary-grey: #A1A5BD;
    --primary-white: #E7EDFF;
    --primary-bright-purple: #A07FFA;
    --card-bg: #1A1A1A;
    --overlay-bg: rgba(10, 10, 10, 0.8);
}

.Form-Popup-modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.Form-Popup-modal-content{
    background-color: #030014;
    backdrop-filter: blur(1px);
    padding: 2.5rem 3rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 650px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 10px 20px;
}

.Form-Popup-top-title-box h3{
    gap: 8px;
    display: flex;
    font-size: 28px;
    align-items:center;
    margin-bottom: 10px;
    color: var(--primary-blue);
}

.Form-Popup-top-title-box h3 span{
    font-size: 20px;
    background: linear-gradient(135deg, var(--primary-blue), var(--primary-bright-purple));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Form-Popup-close-btn{
    position: absolute;
    top: 18px;
    right: 18px;
    font-size:22px;
    cursor: pointer;
    transition: 0.3s linear;
    color: var(--primary-grey);
}

.Form-Popup-close-btn:hover{
    color: #ff0000;
}

.Form-Popup-top-title-box h2{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--primary-white);
}

.Form-Popup-container form input,
.Form-Popup-container form textarea{
    width: 100%;
    border: none;
    outline: none;
    padding:12px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: 0.1s linear;
    color: var(--primary-white);
    background-color: transparent;
    border-bottom: 1px solid #272531;
}

.Form-Popup-container form textarea{
    height: 100px;
    resize: none;
}

.Form-Popup-container form input:focus,
.Form-Popup-container form textarea:focus{
    border-color: var(--primary-bright-purple);
}

.Form-Popup-inp-box{
    display: flex;
    gap: 10px;
}

.Form-Popup-container button{
    gap: 8px;
    width: 100%;
    border: none;
    outline:none;
    display: flex;
    cursor: pointer;
    padding:15px 14px;
    align-items:center;
    border-radius: 24px;
    justify-content:center;
    transition: all 0.2s ease;
    color: var(--primary-white);
    background: linear-gradient(45deg, #127fec, #8000ff);
}

.Form-Popup-container button:hover {
    background: linear-gradient(45deg, #1b8bfc, #7803d8);
    box-shadow: 0 4px 10px rgba(0, 157, 255, 0.5);
    transform: translateY(-2px);
}

@media (max-width: 480px){
    .Form-Popup-modal-content{
        height: 100%;
        display: flex;
        margin: 0 auto;
        align-items: center;
        padding: 1rem 1.5rem;
        flex-direction: column;
        justify-content: center;
    }
    .Form-Popup-inp-box{
        gap: 0px;
        flex-direction: column;
    }
}