*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: #000; */
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.main-about{
    margin-bottom: 100px;
}
.about{
    width: 100%;
    height: 745px;
    /* background: #000; */
    display: flex;
    align-items: center;
    color: #fff;
}
.about-left{
    width: 50%;
    height: 100%;
    position: relative;
    background: url(./images/Group\ 32.png);
    background-repeat: no-repeat;
    background-position: center;
    /* left: -20%; */
    background-size: cover;
}
.about-blur-box{
    position: absolute;
    background: linear-gradient(90deg, rgb(255, 0, 234) 0%, rgb(0, 140, 255) 100%);
    filter: blur(200px);
    z-index: -1;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    left: 10%;
    bottom: 0;
    
}
.about-right{
    width: 50%;
    height: 100%;
}
.Heading-about{
    font-size: 210px;
    letter-spacing: 10px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}
.about-right p{
    margin: 20px 0;
    width: 70%;
    /* font-size: 18px; */
    line-height: 30px;
}
.about-top-peragraph{
    font-weight: bolder;
}
.about-mid-peragraph{
    font-weight: bolder;
    font-size: 20px;
}
.about-end-peragraph{
    font-weight: lighter;
    color: #bbbbbb;
    font-size: 15px;
}
.about-buttons{
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 215px;
    padding: 6px;
    margin-top: 40px;
    background: #bbbbbb;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
.about-buttons button{
    cursor: pointer;
}
.about-buttons-1{
    padding: 15px;
    width: 200px;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    font-weight: bolder;
    color: #fff;
    background: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(88,88,88,1) 50%, rgba(25,25,25,1) 100%);
}
.about-buttons-2{
    padding: 0 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 25px;
}

.about-end-line{
    /* text-align: end; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.about-end-line span{
    width: 60px;
    height: 2px;
    background: #fff;
}

@media (max-width: 1200px) {
    .Heading-about{
        font-size: 10rem;
    }
}
@media (max-width: 1100px) {
    .Heading-about{
        font-size: 7rem;
    }
    .about-right{
        width: 100%;
        padding: 0 30px;
    }
}
@media (max-width: 900px) {
    .about{
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .about-end-line{
        margin-top: 100px;
    }
}
@media (max-width: 500px) {
    .Heading-about{
        font-size: 4rem;
    }
    .about-blur-box{
        width: 200px;
    }
    .about-end-line{
        margin-top: 100px;
        margin-bottom: 60px;
    }
}