.ExtraMiniCard{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    color: #fff;
    padding: 0 80px;
    margin-bottom: 80px;
}
.ExtraMiniCard-box{
    border: 1px solid #666666;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: #000000a3;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.ExtraMiniCard-box-shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, rgba(158,0,255,0) 64%, rgb(62, 96, 251) 100%);
    filter: blur(30px);
}

.ExtraMiniCard-box h2{
    font-size: 30px;
    font-weight: bolder;
}
.ExtraMiniCard-box p{
    font-weight: bolder;
}
.ExtraMiniCard-bg1{
    background: url(./images/Shape\ 2.png);
    background-size: cover;
    width: 400px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.ExtraMiniCard-bg2{
    background: url(./images/Shape\ 1.png);
    background-size: cover;
    width: 400px;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.ExtraMiniCard-bg3{
    background: url(./images/Shape\ 3.png);
    background-size: cover;
    width: 400px;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.ExtraMiniCard-bg4{
    background: url(./images/Shape\ 2.png);
    background-size: cover;
    width: 400px;
    overflow: hidden;
    height: 350px;
    position: relative;
    border-radius: 20px;
}