.OurMisson{
    color: #fff;
    width: 100%;

}
.OurMisson-top{
    width: 100%;
    height: 10%;
    padding: 0 80px;
    margin-bottom: 40px;
}
.OurMisson-top p{
    font-weight: bolder;
    margin-bottom: 20px;
}

.OurMisson-mid{
    width: 100%;
}
.OurMisson-hover-box{
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
    align-items: center;
    padding: 0 80px;
    width: 100%;
    height: 200px;
    /* background: rgb(0, 16, 39); */
}
.OurMisson-hover-box h2{
    /* width: 6%; */
    /* background: #000; */
    border-bottom: 2px solid #a2a2a2;
    color: #a2a2a2;
    font-size: 2rem;
}
.OurMisson-hover-box h1{
    width: 40%;
    /* background: #000; */
    font-size: 6rem;

}
.OurMisson-hover-box h3{
    /* width: 20%; */
    /* background: #000; */
    color: #a2a2a2;
    /* font-size: 6rem; */

}
.OurMisson-hover-box p{
    width: 30%;
    /* background: #000; */
    color: #a2a2a2;
    margin-left: 50px;
    /* font-size: 6rem; */

}
.OurMisson-hover-box span{
    /* width: 40%; */
    border: 1px solid #fff;
    /* font-size: 6rem; */
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}