.OurMisson{
    color: #fff;
    width: 100%;

}
.OurMisson-top{
    width: 100%;
    height: 10%;
    /* padding: 0 80px; */
    padding-left: 80px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.OurMisson-top-heading{
    font-size: 40px;
}
.OurMisson-top h1 span{
    color: #8d8d8b;
}
.Heading-OurMisson{
    font-size: 130px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}
.OurMisson-mid{
    width: 100%;
}
.OurMisson-hover-box{
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
    align-items: center;
    padding: 0 80px;
    width: 100%;
    height: 300px;
    /* background: #ffffff; */
    overflow: hidden;
    position: relative;
    /* background: rgb(0, 16, 39); */
}
.OurMisson-hover-box h2{
    /* width: 6%; */
    /* background: #000; */
    border-bottom: 2px solid #a2a2a2;
    color: #a2a2a2;
    font-size: 2rem;
}
.OurMisson-hover-box h1{
    width: 40%;
    /* background: #000; */
    font-size: 6rem;

}
.OurMisson-hover-box h3{
    /* width: 20%; */
    /* background: #000; */
    color: #a2a2a2;
    /* font-size: 6rem; */

}
.OurMisson-hover-box p{
    width: 30%;
    /* background: #000; */
    color: #a2a2a2;
    margin-left: 50px;
    /* font-size: 6rem; */

}
.OurMisson-hover-box span{
    /* width: 40%; */
    border: 1px solid #fff;
    /* font-size: 6rem; */
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all ease .5s;
}
.OurMisson-hover-box span:hover{
    border: 1px solid transparent ;
    scale: 140%;
}
.OurMisson-hover-box span:active{
    scale: 98%;
}
.OurMisson-hover-box::before{
    content: '';
    position: absolute;
    height: 0;
    width: 100%;
    left: 0;
    z-index: -2;
    transition: all ease 1s;
    filter: brightness(.5);
}
/* .bgContant-OurMisson::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 300px;
    filter: blur(100px);
    background: linear-gradient(180deg, rgba(5,199,255,1) 0%, rgba(0,99,184,1) 78%);
    border-radius: 50%;
    left: 10%;
    z-index: -2;
    opacity: 0;
    transition: all ease 3s;
}

.bgContant-OurMisson:hover::after{
    opacity: 1;
} */
.OurMisson-hover-box:hover::before{
    background: linear-gradient(180deg, #8094dd 0%, #132f94 78%);
    height: 100%;
}
.bgContant-OurMisson{
    position: absolute;
    z-index: -1;
    left: -40%;
    transition: all ease 1s;
    opacity: 0;
    width: 0;
}
.OurMisson-hover-box:hover .bgContant-OurMisson{
    opacity: 1;
    left: 10%;
    width: 600px;
}